body{
    
background: rgb(124,110,250);
background: linear-gradient(0deg, rgba(124,110,250,1) 52%, rgba(182,176,255,1) 100%);
background-repeat: no-repeat;
background-size: 100% 1100px;
display: grid;
justify-content: center;




}
h1{
    font-size: 50px;
}


nav{
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
    
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
nav a:hover{
    color: rgb(114, 114, 114);
}

section{
    padding-top: 40%;
}


*{
    font-family: Arial, Helvetica, sans-serif;
}