body{
    background: rgb(124,110,250);
    background: linear-gradient(0deg, rgba(124,110,250,1) 52%, rgba(182,176,255,1) 100%);  
    background-repeat: no-repeat;
    width: 100%;
    
    background-size: 100% 4500px;
    

    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

*{
    margin-top: 40px;
}

.title{
    display: flex;
    justify-content: center;
}



h1{
    font-size: 50px;
    height: 100px;
    width: 1000px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    border-color: black;
    border-style:groove;
    

    background: rgb(182,176,255);
    background: radial-gradient(circle, rgba(182,176,255,1) 0%, rgba(124,110,250,1) 100%);
}

h2,p{
    display: flex;
    justify-content: center;
    

}

.ejer h1{
    width: 80%;
}

.ejer{
    width: 60%;
}

.subejer{
    width: 100%;
    
}








